Repository nuvla/job-engine, pull requests merged in 2023-08, with the labels that each got.

#284 docker_compose.py: give environment to all commands that might requires it
  code/src/nuvla/connector/connector.py
  code/src/nuvla/connector/docker_compose.py
  code/src/nuvla/connector/docker_service.py
  code/src/nuvla/connector/docker_stack.py
  code/src/nuvla/connector/kubernetes.py
  code/src/nuvla/connector/nuvlabox.py
  code/src/nuvla/job/actions/deployment_log_fetch.py
  code/src/nuvla/job/actions/deployment_start.py
  code/src/nuvla/job/actions/deployment_state.py
  code/src/nuvla/job/actions/deployment_stop.py
  code/src/nuvla/job/actions/deployment_update.py
Labels: T3 Enhancement, T5 Bug

#278 ssh key addition for Kubernetes NuvlaEdge
  code/src/nuvla/connector/kubernetes.py
  code/src/nuvla/connector/nuvlabox.py
  code/src/nuvla/job/actions/nuvlabox_add_ssh_key.py
  code/src/nuvla/job/actions/nuvlabox_revoke_ssh_key.py
Labels: Kubernetes, k8s

#275 Add the reboot function to NuvlaEdge Kubernetes
  code/src/nuvla/connector/kubernetes.py
  code/src/nuvla/connector/nuvlabox.py
  code/src/nuvla/job/actions/nuvlabox_reboot.py
  code/src/nuvla/job/actions/utils/deployment_utils.py
  code/src/nuvla/job/job.py
  container-lite/Dockerfile
  container/Dockerfile
Labels: Kubernetes, NuvlaEdge, Management Action
